<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huidong.qzh.standard.mapper.ProductGoodsCommentMapper">

  <resultMap id="BaseResultMap" type="com.huidong.qzh.standard.entity.ProductGoodsComment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="order_sub_id" jdbcType="INTEGER" property="orderSubId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="picture_path" jdbcType="VARCHAR" property="picturePath" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="product_star" jdbcType="INTEGER" property="productStar" />
    <result column="server_star" jdbcType="INTEGER" property="serverStar" />
  </resultMap>
</mapper>