<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huidong.qzh.portal.mapper.ApMemberMapper" >
  <resultMap id="BaseResultMap" type="com.huidong.qzh.portal.entity.ApMember" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="shopno" property="shopno" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="usertype" property="usertype" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="usercategory" property="usercategory" jdbcType="INTEGER" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
    <result column="p_zz" property="pZz" jdbcType="VARCHAR" />
    <result column="p_jgdm" property="pJgdm" jdbcType="VARCHAR" />
    <result column="p_sqs" property="pSqs" jdbcType="VARCHAR" />
    <result column="p_sfz" property="pSfz" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="shoprank" property="shoprank" jdbcType="VARCHAR" />
    <result column="syncflag" property="syncflag" jdbcType="INTEGER" />
    <result column="mflag" property="mflag" jdbcType="INTEGER" />
    <result column="Source" property="source" jdbcType="INTEGER" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="Sys_MemberRole_Main" property="sysMemberroleMain" jdbcType="VARCHAR" />
    <result column="CreateDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="UserDate" property="userdate" jdbcType="TIMESTAMP" />
    <result column="OneDate" property="onedate" jdbcType="TIMESTAMP" />
    <result column="ShopAddress" property="shopaddress" jdbcType="VARCHAR" />
    <result column="ITheme" property="itheme" jdbcType="VARCHAR" />
    <result column="CRMID" property="crmid" jdbcType="VARCHAR" />
    <result column="Userid" property="userid" jdbcType="INTEGER" />
    <result column="businesslogo" property="businesslogo" jdbcType="VARCHAR" />
    <result column="shopimgs" property="shopimgs" jdbcType="VARCHAR" />
    <result column="sqName" property="sqname" jdbcType="VARCHAR" />
    <result column="picUrl" property="picurl" jdbcType="VARCHAR" />
    <result column="display_type" property="displayType" jdbcType="INTEGER" />
    <result column="domain_name" property="domainName" jdbcType="VARCHAR" />
    <result column="shopName" property="shopname" jdbcType="VARCHAR" />
    <result column="hangye" property="hangye" jdbcType="INTEGER" />
    <result column="leixinxifen" property="leixinxifen" jdbcType="INTEGER" />
    <result column="leixinxifen1" property="leixinxifen1" jdbcType="INTEGER" />
    <result column="SysNC_DeS" property="sysncDes" jdbcType="VARCHAR" />
    <result column="PrivateTalkDate" property="privatetalkdate" jdbcType="VARCHAR" />
    <result column="SysNCStatus" property="sysncstatus" jdbcType="INTEGER" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="iCount" property="icount" jdbcType="INTEGER" />
    <result column="CRM_createdate" property="crmCreatedate" jdbcType="VARCHAR" />
    <result column="hangye2" property="hangye2" jdbcType="INTEGER" />
    <result column="Detection_time" property="detectionTime" jdbcType="TIMESTAMP" />
    <result column="Check_result" property="checkResult" jdbcType="VARCHAR" />
    <result column="Detection_status" property="detectionStatus" jdbcType="INTEGER" />
    <result column="bankRelated" property="bankrelated" jdbcType="VARCHAR" />
    <result column="IsOutsideCircleLook" property="isoutsidecirclelook" jdbcType="INTEGER" />
    <result column="IsOutsideCircleBuy" property="isoutsidecirclebuy" jdbcType="INTEGER" />
    <result column="IsWithinCircleLook" property="iswithincirclelook" jdbcType="INTEGER" />
    <result column="IsWithinCircleBuy" property="iswithincirclebuy" jdbcType="INTEGER" />
    <result column="isOA" property="isoa" jdbcType="INTEGER" />
    <result column="shopcss" property="shopcss" jdbcType="VARCHAR" />
    <result column="mangerRoleID" property="mangerroleid" jdbcType="INTEGER" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="structureImg" property="structureimg" jdbcType="VARCHAR" />
    <result column="hangyeStr" property="hangyestr" jdbcType="VARCHAR" />
    <result column="gd_callStatus" property="gdCallstatus" jdbcType="INTEGER" />
    <result column="parentId" property="parentid" jdbcType="INTEGER" />
    <result column="isQQ" property="isqq" jdbcType="INTEGER" />
    <result column="isDisposed" property="isdisposed" jdbcType="INTEGER" />
    <result column="operatingPeriodFrom" property="operatingperiodfrom" jdbcType="TIMESTAMP" />
    <result column="establishmentDate" property="establishmentdate" jdbcType="TIMESTAMP" />
    <result column="approvalDate" property="approvaldate" jdbcType="TIMESTAMP" />
    <result column="staffNumber" property="staffnumber" jdbcType="INTEGER" />
    <result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="LOGIN_TIMES" property="loginTimes" jdbcType="INTEGER" />
    <result column="dataBakID" property="databakid" jdbcType="INTEGER" />
    <result column="zone" property="zone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="LONGVARCHAR" />
    <result column="company" property="company" jdbcType="LONGVARCHAR" />
    <result column="address" property="address" jdbcType="LONGVARCHAR" />
    <result column="tel" property="tel" jdbcType="LONGVARCHAR" />
    <result column="mobile" property="mobile" jdbcType="LONGVARCHAR" />
    <result column="ctype" property="ctype" jdbcType="LONGVARCHAR" />
    <result column="cregno" property="cregno" jdbcType="LONGVARCHAR" />
    <result column="caddress" property="caddress" jdbcType="LONGVARCHAR" />
    <result column="legalperson" property="legalperson" jdbcType="LONGVARCHAR" />
    <result column="province" property="province" jdbcType="LONGVARCHAR" />
    <result column="city" property="city" jdbcType="LONGVARCHAR" />
    <result column="area" property="area" jdbcType="LONGVARCHAR" />
    <result column="zipcode" property="zipcode" jdbcType="LONGVARCHAR" />
    <result column="cperson" property="cperson" jdbcType="LONGVARCHAR" />
    <result column="shopbrief" property="shopbrief" jdbcType="LONGVARCHAR" />
    <result column="mainProduct" property="mainproduct" jdbcType="LONGVARCHAR" />
    <result column="purchasing" property="purchasing" jdbcType="LONGVARCHAR" />
    <result column="apDesc" property="apdesc" jdbcType="LONGVARCHAR" />
    <result column="ZYPP" property="zypp" jdbcType="LONGVARCHAR" />
    <result column="busscope" property="busscope" jdbcType="LONGVARCHAR" />
    <result column="shopRightImgs" property="shoprightimgs" jdbcType="LONGVARCHAR" />
    <result column="facadeImg" property="facadeimg" jdbcType="LONGVARCHAR" />
    <result column="fax" property="fax" jdbcType="LONGVARCHAR" />
    <result column="serviceQQ" property="serviceqq" jdbcType="LONGVARCHAR" />
    <result column="enterpriseType" property="enterprisetype" jdbcType="LONGVARCHAR" />
    <result column="unifiedSocialCreditCode" property="unifiedsocialcreditcode" jdbcType="LONGVARCHAR" />
    <result column="registeredCapital" property="registeredcapital" jdbcType="LONGVARCHAR" />
    <result column="durationOfOperationTo" property="durationofoperationto" jdbcType="LONGVARCHAR" />
    <result column="registrationAuthority" property="registrationauthority" jdbcType="LONGVARCHAR" />
    <result column="registrationStatus" property="registrationstatus" jdbcType="LONGVARCHAR" />
    <result column="managementModel" property="managementmodel" jdbcType="LONGVARCHAR" />
    <result column="annualSalesVolume" property="annualsalesvolume" jdbcType="LONGVARCHAR" />
    <result column="web" property="web" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>