<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huidong.qzh.portal.mapper.ApShopnewsMapper" >
  <resultMap id="BaseResultMap" type="com.huidong.qzh.portal.entity.ApShopnews" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="memberId" property="memberid" jdbcType="INTEGER" />
    <result column="accountId" property="accountid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="origin" property="origin" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="readTimes" property="readtimes" jdbcType="INTEGER" />
    <result column="delFlag" property="delflag" jdbcType="INTEGER" />
    <result column="newsClassification" property="newsclassification" jdbcType="VARCHAR" />
    <result column="newsTxt" property="newstxt" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>